<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Messaging">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AskQuestion" />
        </activity>
        <activity android:name=".AskQuestion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".MarketPrice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".admin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".adminMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin" />
        </activity>
        <activity android:name=".addPrice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminMain" />
        </activity>
        <activity android:name=".displayfulldata">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminMain" />
        </activity>
        <activity android:name=".deletePrice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminMain" />
        </activity>
        <activity android:name=".ViewData">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".editprofile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".unitconverter.UnitConverter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".SeedlingEstimation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".remotemysqlconnection.ExpensesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".remotemysqlconnection.ProfitPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".msgList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Message" />
        </activity>
        <activity android:name=".Message">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AskQuestion" />
        </activity>
        <activity android:name=".MainPage"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>